/*
This file can be used as the styllesheet of any bullet slider 
*/
.bullets-slider{
    position: relative;
    width: 100%;
}
.slides-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    /*overflow: hidden;*/
}
.slide-pic{
    min-width: 100%;
    height: 100%;
    overflow: hidden;   
}
.slide-pic img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.slide-pagination{
    position: absolute;
}
.arrow-right {
    right: 2%;
}
 .arrow-left {
     left: 2%;
 }
 .bullets{
     width: 50%;
     position: absolute;
     bottom: 2%;
     left: 25%;
     right: 25%;
     text-align: center;
     border-radius: 50%;
 }
 .bullets .fa{
     cursor: pointer;
     margin: 0 6px;
    color: #fff;
    opacity: .8;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    transition: all .2s linear;
 }

 .bullets .fa:hover{
     transform: scale(1.2);
 }

.active{
    color:#00bfd6
}