.header-search{
    line-height: 1.833;
    z-index: 51;
    position: relative;
    border-radius: 8px;
    background-color: #f0f0f1;
    box-sizing: border-box;
    border: none;
    display: flex;
    width: 60%;
}

.search-input{
    color: #474747;
    font-weight: 300;
    font-size: 12px;
    font-size: .857rem;
    background-color: #f0f0f1;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all .5s linear;
}
.search-input:focus, .search-input .header-search{
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: white;
}
.search-input:focus .header-search{
    box-shadow: 0 0 3px 3px #d6d6d6;
    background-color: white;

}
.search-input:focus .h-search-btn{
    background-color: white;

}
h-search-btn{
    color: #a1a3a8;
    font-size: 2.25rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
header .fa-search:before {
    position: absolute;
    top: 28%;
    right: 40%;
}

.header-btn-cart-container{
    position: relative;
}
.header-btn-a{
    line-height: 1.833;
    border: 1px solid #e0e0e2;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    white-space: nowrap;
    -ms-flex-negative: 0;
    cursor: pointer;
    color: #616161;
}

.header-btn-a .fa{
    font-size: 1.714rem;
    line-height: 24px;
}
.header-btn-container .fa-shopping-cart{
    color: #515151;
    position: relative;
}

.header-btn-cart-container:before{
    content: "";
    display: block;
    height: 24px;
    background: #e0e0e2;
    position: absolute;
    right: 0;
    width: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media screen and (min-width: 681px) {
    .mobile-header{
        display: none;
    }
}
@media screen and (max-width: 680px) {
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .header-one, .header-two, .header-three{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .question-mark{
        padding:1px 13px;
        border: solid 1px black;
        border-radius:5px;
    }
    .question-mark .fa{
    }
    .header-action{
        display: none;
    }
    .specials-title {
        padding: 0 0 0 3%;
    }
}

