
.overlay, .m-overlay{
    position: fixed;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    content: "";
    background: rgba(74,74,74,.43);
    opacity: 0;
    -webkit-transition: opacity .2s cubic-bezier(.215,.61,.355,1) .1s;
    transition: opacity .2s cubic-bezier(.215,.61,.355,1) .1s;
    pointer-events: none;
}
.overlay{
    z-index: 9;
}
.m-overlay{
    z-index: 60;
}
.active{
    opacity:1;
    pointer-events: all;
}
.nav, #navbar, .nav-link, .nav-link-title{
    z-index: 11;
}
.nav .overlay{
    z-index: 9;
}

.nav-link-title i.fa{
    color: #a1a3a8;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8rem;
}
.free-space{
    flex-grow: 1;
}
.nav-ul{
    flex-direction: row;
}
.nav-link{
    box-sizing: border-box;
    margin-left: 20px;
    transition: all .5s linear;
}
.nav-link:hover{
    border-bottom: solid 1px red;
}
.nav-link-title{
    width: fit-content;
    text-overflow: none;
    padding: 7px 8px 8px;;
    color: #616161;
}

a.nav-link-title{
    display: block;

}
.submenu{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    top: 5vh;
    background-color: #fff;
    z-index:10;
    overflow: hidden;
}
.show{
    display:flex;
    flex-direction: row;
}
.hide{
    display: none;
}

.mega-menu-link:hover .submenu{
    display: flex;
    flex-direction: row ;
}
.nav-link > .submenu{
    display: none;
}
.nav-link:hover  > .submenu{
    display: flex;
}
.nav-link:hover .overlay{
   opacity: 1;
}

.submenu-titles{
    width: 20%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #f0f0f1;
    padding: 8px 0;
}
.submenu-title{
    color: #616161;
    padding: .8rem .5rem;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: .7rem;
    line-height: 1.833;
}
.submenu-title:hover{
    background-color: #f8f7f7;
    border-bottom:solid 1px  #f0f0f1;
    border-top:solid 1px  #f0f0f1;
}
.submenu-title .fa{
    margin-left: .4rem;
}

.submenu-items{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex:1;
}

.submenu-top-bar{
    max-width: fit-content;
    padding: 8px 0 12px;
}
.submenu-top-bar .fa{
    margin-left: .4rem;
}
.submenu-lists{
    display: flex;
    flex-direction: column;
}
.submenu-lists-title{
    text-align: right;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: .85rem;
    line-height: 30px;
    font-weight: 700;
    max-width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.submenu-lists-title .fa{
    margin-right: .4rem;
}
.submenu-list-link{
    font-size: .75rem;
    line-height: 2.27;
    font-weight: 400;
    color: #81858b;
}
.submenu-list-link:hover{
    color: #ef394e;
}
.submenu-list-link ul{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.submenu-list-link ul li{
    margin: 0;
    white-space: nowrap;
}
.border-right-add{
    border-right: solid 1px  #f0f0f1;;
}
.submenu-titles:hover, .submenu-titles a:hover,.submenu-list:hover , .submenu-lists div:hover, .submenu-lists a:hover .submenu-lists{
    color: #ef394e;
}
.submenu-promotion, .submenu-digiplus{
    width: 100%;
    flex-direction: row;
}

.submenu-promotion{
    justify-content: space-between;
}
.submenu-banner{
    height: 100%;
}
.nav-promotion-uls{
    display: flex;
    flex-direction: row;
}
.nav-promotion-ul{
    width: 50%;
}
.nav-promotion-ul, .nav-digiplus-ul, .nav-digi-ul{
    max-height: 360px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.nav-promotion-ul li, .nav-digiplus-ul li, .nav-digi-ul li{
    white-space: nowrap;
}
.nav-promotion-ul li:hover, .nav-promotion-ul li a:hover .fa{
    color: #ef394e;
}
.submenu-list-new{
    font-weight: normal;
    font-size: .75rem;
    color: #81858b;
}
.submenu-list-new a{
    position: relative;
    padding-right: 20px;
}
.submenu-list-new a:before{
    content: "";
    width: 4px;
    height: 4px;
    background-color: #a1a3a8;
    border-radius: 50%;
    display: inline-block;
    top: 11px;
    right: 8px;
    position: absolute;
}
.submenu-divider{
    height: 1px;
    margin: 20px 0;
    background-color: #f0f0f1;
}
.submenu-promotion-links{
    color: #424750;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.833;
}
.submenu-promotion-links a i{
    margin-left: 8px;
    font-size: 1.286rem;
    line-height: 18px;
    color: #a1a3a8;
    cursor: pointer;
    vertical-align: middle;
}

.submenu-banner a img{
    height: 100%;
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
}
.submenu-digiplus{
    width:648px;
}
.submenu-digiclub{
    width:718px;
}
.submenu-digiplus .submenu-lists-title img, .submenu-digiplus .submenu-lists-digiplus img, .submenu-digiclub .submenu-lists-digiclub img{
    max-width: 58px;
}
.submenu-subtitle{
    color: #62666d;
    font-size: 11px;
    font-size: .78rem;
    line-height: 1.91;
}
.digiplus-register{
    font-size: .85rem;
    line-height: normal;
    font-weight: 400;
    color: #0fabc6;
    background: none;
    border-radius: 0;
}
.nav-digi-ul i{
    margin-left: 8px;
    font-size: 1.286rem;
    line-height: 18px;
    color: #a1a3a8;
    cursor: pointer;
    vertical-align: middle;
}
.submenu-lists-digiplus{
    border-top: 1px solid #dfdfdf;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.submenu-lists-digiplus:before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d8d8d8;
    margin-left: 6px;
    margin-right: 7px;
}
.digiclub-history-text{
    font-size: 0.85rem;
}
.digiclub-history-text:hover{
    color:inherit
}
.submenu-banner-digiplus{
    justify-content: center;
    width: 324px;
    min-height: 162px;
    border: 1px solid rgba(3,10,22,.02);
    border-radius: 8px;
    overflow: hidden;
}
.submenu-lists-counter{
    font-size: .85rem;
    font-weight: 700;
    white-space: nowrap;
}
.counter-day:before, .counter-hour:before, .counter-minute::before{
    content: ':';
    color: #81858b;
    font-size: .85rem;
    line-height: 1.833;
}
.digiplus-banner{
    border: 1px solid rgba(3,10,22,.02);
    border-radius: 8px;
    overflow: hidden;
}
.submenu-items-side{

}
.nav-new-ads{
    max-width: 285px;
    min-height: 240px;
    width: 100%;
    position: relative;
}
.adplacement-badge-banner{
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 19px;
    width: 37px;
    display: flex;
    flex-direction: row-reverse;
}
.new-brands-holder h3 {
    color: #030a16;
    font-size: .857rem;
    line-height: 21px;
}

.new-ads-brands a div{
    border: 1px solid #e0e0e2;
    border-radius: 8px;
    width: 90px;
}
.mobile-menu-container{
    width: 100px;
    height: 100vh;
    background-color: white;
    z-index:80;
}
@media screen and (max-width: 680px) {
    .nav{
        display: none;
    }
}
