.swiper-brands{
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-brands-image-container{
    min-width:17%;
    max-width: 20%;
    height: 160px;
    width: 257.2px;
    max-height: 100%;
}
.banner-brand-link img{
    max-height: 70%;
    max-width: 70%;
}
.swiper-brands-image-container a{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media screen and (max-width: 680px){
    .swiper-brands{
        overflow: visible;
        flex-wrap: wrap;
    }
    .swiper-brands-container .arrow-right-5, .swiper-brands-container .arrow-left-5{
        display: none;
    }

    .swiper-brands-image-container {
        height: unset;
        padding: 9px 0;
        min-width: 17%;
        max-width: 20%;
        width: 257.2px;
    }
}
